*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
nav ul li {
    list-style: none;
    float: left;
    font-size: 30px;
    font-weight: bold;
    
    padding: 20px;
   
}
a{
    text-decoration: none;
}